
  
    canvas
    {
    background:white;
    border: 3px dashed;
    margin: auto;
    }
    h1{
      text-align: center;
      text-decoration: underline;
    }
    
    
    .pen-tools{
    width: 60%;
    margin-left:40%;
    margin-top: 10px;
    }
    .clear{
    margin-left:-475px;
    }
    .fa-refresh{
    background-color:rgb(255, 0, 0);
    padding: 10px 30px;
    border-radius: 10px;
    color:white;
    cursor: pointer;
    }
    .pen-size{
    width:300px;
    font-size:18px;
    margin-left:400px;
    }
    .board
    {
    width:800px;
    margin-bottom:-300px;
    }

    .drawing-colors{
    display: flex;
    margin-bottom:10px;
    }
    .color-circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 4px;
    border: 1px solid black;
    cursor: pointer;
    }
    .color-circle1 img{
      height:70px;
      width: 70px;
      cursor: pointer;
      margin-top:-15px;
    }

     
     .color-circle:nth-child(1){
     background-color:hotpink;
     
     }
     .color-circle:nth-child(2){
     background-color:orange;
    
     }
     .color-circle:nth-child(3){
     background-color:red;
     
     }
     .color-circle:nth-child(4){
     background-color:yellow;
     
     }
     .color-circle:nth-child(5){
     background-color:black;
     
     }
      .color-circle:nth-child(6){
     background-color:blue;
     
     }
      .color-circle:nth-child(7){
     background-color:white;
     }
      .color-circle:nth-child(8){
     background-color:green;
     
     }
    
     
.jumbotron{
    background-color: rgb(162, 250, 221);
    text-shadow: black;
    padding-bottom:10px;
    margin:-15px -15px 10px;
    color: rgba(20, 19, 19, 0.836);

}
h1{
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
    color: rgb(255, 255, 255);
    text-align:center;
}
.bi{
    font-size:70px;
}